---
import { t } from 'astro-i18n';
import type { OperatingTime, Organization } from '../content/config';
import { loadId } from 'astro/dist/vite-plugin-astro/utils';

interface Props {
  operatingTimes: Organization['operatingTimes'];
}

const { operatingTimes } = Astro.props;

const days: (keyof Organization['operatingTimes'])[] = [
  'monday',
  'tuesday',
  'wednesday',
  'thursday',
  'friday',
  'saturday',
  'sunday',
]
---

<div>
  <h3 class="divider">
    {t('Hours')}
  </h3>

  <table class="table">
    <tbody>
    {days.map((day: string) => (
      <tr>
        <th class="align-text-top w-1/4">
          {t(`days.${day}`)}
        </th>

        <td>
          <ul class="text-center">
            {operatingTimes[day]
              ? operatingTimes[day].map(({ openTime, closeTime }: OperatingTime) => (
                <li>
                  {openTime}
                  {closeTime && (
                    <>
                      - {closeTime}
                    </>
                  )}
                </li>
              ))
              : (
                <li>
                  <span class="sr-only">
                    {t('Unavailable')}
                  </span>
                  <span aria-hidden="true">
                    -
                  </span>
                </li>
              )}
          </ul>
        </td>
      </tr>
    ))}
    </tbody>
  </table>
</div>
