---
import { t, l } from 'astro-i18n';
import { astroI18n } from 'astro-i18n';

interface Props {
	title: string;
}

const { title } = Astro.props;

let localeDirection = 'ltr';
if (astroI18n.locale === 'ar') {
	localeDirection = 'rtl';
}
---

<!doctype html>
<html lang={astroI18n.locale} dir={localeDirection}>
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Astro description" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>
<body>
	<div class="navbar bg-neutral text-neutral-content flex flex-col">
		<div class="">
			<h1 class="text-xl">
				{t('site.title')}
			</h1>
		</div>

		<div class="">
			<ul class="menu menu-horizontal px-1">
				<li>
					<a href={l('/')}>
						{t('Organizations')}
					</a>
				</li>
				<li>
					<a href={l('/about')}>
						{t('About')}
					</a>
				</li>
			</ul>
		</div>
	</div>

	<main class="container mx-auto py-5 px-3">
		<slot />
	</main>
</body>
</html>
